.filters {
    background-color: white;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    text-align: right;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: relative;
    left: 273px;
}

.filters button:hover{
    opacity: 0.9;
}

.locations{
    border-right: 1px solid #DDDDDD;
}
.amenities{
    position: relative;
}
.locations,
.amenities
{
    height: 100%;
    width: 25%;
    text-align: left;
}
h3{
    font-weight: 600;
    line-height: 1px;
    position: relative;
    top: 10%;
    margin-left: 40px;
}
h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 1px;
    position: relative;
    top: 10%;
    margin-left: 40px;
}

.popover{
    display: none;
    background-color: #FAFAFA;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 4px 4px;
}

.popover h2{
    margin-left: -10px;
    font-size: 16px;
    line-height: 1px;
}
ul{
    list-style: none;
}

.filters .locations:hover .popover{
    display: block;
}
.filters .amenities:hover .popover{
    display: block;
}
